<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"> 
<head> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<meta http-equiv="content-style-type" content="text/css" /> 
<meta http-equiv="content-script-type" content="text/javascript" />

<title><%=h title %> -- Lifelog @ <%=h config['twitter_id']%> from twitter.com</title>
<link rel="alternate" type="application/rss+xml" title="<%=h title %> -- Lifelog @ <%=config['twitter_id']%> from twitter.com" href="<%=Rtlog::RssPage.new(config, log).url%>" /> 
<style type="text/css">
* {
  word-break: normal !important; word-wrap: break-word;
}
body {
  text-align: center;
  background-color:#<%=log.user.profile_background_color%>;
  <% if log.user.profile_background_tile == false %>
  background-repeat: no-repeat;
  <% end %>
  background-attachment: fixed;
  background-position: left top;
  background-image: url(<%=log.user.profile_background_image_url%>);
  color: #<%=log.user.profile_text_color%>;
  font-family: sans-serif;
}
img {
  border: none;
}
a:link { text-decoration:none; color:#<%=log.user.profile_link_color%>;}
a:visited { text-decoration:none; color:#<%=log.user.profile_link_color%>;}
a:hover { text-decoration:underline; color:#<%=log.user.profile_link_color%>;}
.contents {
  border-collapse: collapse;
  margin: auto;
  text-align: left;
}
#page {
  border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px;
  background-color: #fff;
  vertical-align: top;
  width: 508px;
  padding: 32px;
}
#page .profile h1 {
  margin: 0;
  position: relative;
}
#page .profile .profile_names {
  position: absolute;
  top: 0;
  left: 80px;
}
#page .profile .screen_name {
  font-size: medium;
}
#page .tw_posted {
  font-size: 90%;
  color: #ccc;
  border-bottom: 1px solid #eee;
  padding: 0.2em 0;
}
#page .tw_posted a {
  color: #ccc;
}
#page .navigation {
  margin: 0;
  padding: 0;
}
#page .navigation li {
  font-size: 90%;
  display: inline;
}
#page .navigation .previous:before {
  content: '« ';
}
#page .navigation .previous {
  margin-right: 0.4em;
}
#page .navigation .next {
  margin-left: 0.4em;
}
#page .navigation .next:after {
  content: ' »';
}
#page .day {
  padding: 1em 0;
}
#page .day h2 {
  color: #ccc;
  border: 1px solid #eee;
  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0.3em;
}
#page .day h2 a {
  color: #ccc;
}
#informations {
  border-left: 1px solid #<%=log.user.profile_sidebar_border_color%>;
  border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px;
  background-color: #<%=log.user.profile_sidebar_fill_color%>;
  vertical-align: top;
  width: 200px;
  font-size: 90%;
}
#informations h2 {
  border-bottom: 1px solid #<%=log.user.profile_sidebar_border_color%>;
}
#informations .info ul {
  margin: 0;
  padding: 0;
}
#informations .info li {
  display: block;
  margin: 0;
  padding: 0 0 0 1em;
}
#informations .info {
  padding: 1em;
}
#informations .profile dt {
  font-weight: bold;
}
#informations .profile dd {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}
</style>
</head>

<body>

<table class='contents'><tbody>
<tr>
<td id='page'>
<div class="profile">
  <h1>
    <a href='<%=index_url%>'>
      <img src='<%=log.user.profile_image_url.gsub('_nomal', '_bigger')%>' width='73' height='73' alt='profile image' />
    </a>
    <span class='profile_names'>
      <span class='name'><%=h log.user.name%></span>
      <span class='screen_name'>
        (<a href='http://twitter.com/<%=h log.user.screen_name%>'><%=h log.user.screen_name%></a>)
      </span>
    </span>
  </h1>
</div>

<%= parse template_path %>
</td>

<td id='informations'>
  <div class='info'>
    <div class='section'>
      <dl class='profile'>
        <dt>名前</dt>
        <dd><%=h log.user.name%></dd>
        <dt>現在地</dt>
        <dd><%=h log.user.location%></dd>
        <dt>Web</dt>
        <dd><a href='<%=log.user.url%>'><%=log.user.url[0, 16]%>...</a></dd>
        <dt>自己紹介</dt>
        <dd><%=h log.user.description%></dd>
      </dl>
    </div>
  </div>
  <div class='info'>
    <h2>Archives</h2>
    <div class='section'>
      <ul>
        <% month_pages.each do |month|%>
        <li><a href='<%=month.url%>'><%=month.date.strftime('%Y年%m月')%>(<%=month.total_tweets%>)</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</td>
</tr>
</tbody></table>

</body>
</html>
